<!DOCTYPE html>
<html lang="en">
   <head>
      <% include dashboardheader.html %>
   </head>
   <body>
    <div class='container'>
        <div class="col-md-12 back">
          <h1>Project Management</h1>
          <div class="col-md-6"> <h3>Welcome &nbsp<strong><%= data.user.name %></strong></h3></div>
          <div class="col-md-6">
          <nav>
           <ul>
            <li class="li"><a href="#">Project List</a></li>
            <li class="li"><a href="/addproject/<%=data.user.userId%>">Add New Project</a></li>
            <li class="li"><a href="/logout">Logout</a></li>
           </ul>
           </nav>
           </div>
           </div> 
         <div class='form-box'>
         <h3>Project List</h3>
         <table class='table table-bordered'>
               <tr>
                  <th>Project Name</th>
                  <th>Description</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Action</th>
               </tr>
               <% data.project.forEach(function(msgObj){ %>
                  <%if (msgObj.userid == data.user.userId) { %>
                    <tr>
                       <td><%= msgObj.name %></td>
                       <td><%= msgObj.description %></td>
                       <td><%= data.moment(msgObj.start_date).format('DD-MM-YYYY'); %></td>
                        <td><%= data.moment(msgObj.end_date).format('DD-MM-YYYY'); %></td>
                       <td><a href="/editproject/<%=msgObj.id%>" class="btn btn-info" title="Edit Project">Edit</a>&nbsp;&nbsp;<a href="/deleteproject/<%=msgObj.id%>" class="btn btn-danger" title="Delete Project">Delete</a></td>
                    </tr>
                    <% } %>
              <% }) %>
         </table>
         </div>

      </div>
  </body>
</html>
